In [4]:
#제곱의 합

sq_sum = 0
n_sum = 0
sum_sq = 0
for i in range(1, 101):
    sq_sum += i**2
    n_sum += i
sum_sq = n_sum**2

print(sum_sq - sq_sum)

25164150

## 딕셔너리

In [7]:
gg = ["사과", "바나나", "포도"]
price = [800, 1000, 800]
dic_gg = {gg[i]:price[i] for i in range(len(gg))}

In [14]:
dic_gg
dic_gg["파인애플"] = 1200

In [16]:
sorted_dic_gg

['파인애플', '바나나', '사과', '포도']

In [19]:
gg = ["사과", "바나나", "포도"]
price = [800, 1000, 800]
dic_gg = {gg[i]:int(price[i]*1.1) for i in range(len(gg))}

In [20]:
dic_gg

{'사과': 880, '바나나': 1100, '포도': 880}

In [26]:
dic_gg2 = {"사과": 800,  "바나나": 1000, "포도": 800}

In [27]:
for i in dic_gg2:
    dic_gg2[i] =int(dic_gg2[i]*1.1)

In [28]:
dic_gg2

{'사과': 880, '바나나': 1100, '포도': 880}

### 전국 사과 가격의 평균을 구해주세요.

In [37]:
ggg = {"서울점": {"사과": 800, "바나나": 1000, "포도": 800},
       "부산점": {"사과": 700, "바나나": 900, "포도": 900},
       "대구점": {"사과": 750, "바나나": 800, "포도": 1000}}

apple_avg = round(sum([ggg[i]["사과"] for i in ggg])/len(ggg))
banana_avg = round(sum([ggg[i]["바나나"] for i in ggg])/len(ggg))
grape_avg = round(sum([ggg[i]["포도"] for i in ggg])/len(ggg))

In [40]:
print(f"사과의 평균가격은 {apple_avg}원입니다.")
print(f"바나나의 평균가격은 {banana_avg}원입니다.")
print(f"포도의 평균가격은 {grape_avg}원입니다.")

사과의 평균가격은 750원입니다.
바나나의 평균가격은 900원입니다.
포도의 평균가격은 900원입니다.

In [41]:
def add(x, y):
    return x + y

a = 3
b = 4

answer = add(a, b)
answer

7

In [42]:
def jegop(x, y):
    sq_sum = 0
    n_sum = 0
    sum_sq = 0
    for i in range(x, y+1):
        sq_sum += i**2
        n_sum += i
    sum_sq = n_sum**2

    return sum_sq - sq_sum

In [43]:
jegop(1, 100)

25164150