In [3]:
csb = {"name": "Sungbaek", "age": 28, "height": 169, "Phone": "010-7113-2203"}

In [4]:
csb

{'name': 'Sungbaek', 'age': 28, 'height': 169, 'Phone': '010-7113-2203'}

In [6]:
for i in csb:
    print(csb[i])

Sungbaek
28
169
010-7113-2203

In [7]:
csb.keys()

dict_keys(['name', 'age', 'height', 'Phone'])

In [8]:
csb.values()

dict_values(['Sungbaek', 28, 169, '010-7113-2203'])

In [10]:
class1_4 = {"이름": ["홍길동", "김철수", "최영희"],
            "나이": [20, 21, 22],
            "키": [168, 177, 204]}

In [11]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [12]:
class1_4["발 사이즈"] = [290, 275, 240]

In [13]:
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [14]:
del class1_4["발 사이즈"]

In [15]:
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

### class1_4의 "이름" key에 할당된 value들을 전부 성을 뺀 이름들로 출력하고 싶습니다.
- 홍길동 > 길동
- 김철수  > 철수
- 김영희 > 영희

In [16]:
for i in class1_4["이름"]:
    print(i[1:])

길동
철수
영희

In [17]:
class1_4["이름"] = [i[1:] for i in class1_4["이름"]]

In [18]:
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [19]:
a = 10
print(a)

10

- 여러 학생의 성적 점수가 다음과 같은 Dictionary로 구성되어 있다.

In [54]:
scores = {"홍길동": {"수학": 99, "영어": 80, "국어": 75},
          "김미정": {"영어": 67, "국어": 87, "수학": 55},
          "정수진": {"수학": 67, "국어": 41, "영어": 23}}

In [55]:
korean_score = 0
english_score = 0
math_score = 0

for i in scores:
    korean_score += scores[i]["국어"]
    english_score += scores[i]["영어"]
    math_score += scores[i]["수학"]

avg_dic = {"수학": round(math_score/len(scores)), "영어": round(english_score/len(scores)), "국어": round(korean_score/len(scores))}

scores["평균"] = avg_dic

In [56]:
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균': {'수학': 74, '영어': 57, '국어': 68}}

In [99]:
char = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0", "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t"," u", "v", "w", "x", "y", "z", "-", "_", "."]

new_id = input("새로운 아이디를 입력하세요.: ")

# 1단계
new_id = new_id.lower()

# 2단계
lst = list(new_id)
word = []
for i in lst:
    if i in char:
        word.append(i)

new_id = "".join(word)

# 3단계
while ".." in new_id:
    new_id = new_id.replace("..", ".")
    
# 4단계
new_id = new_id.strip(".")

# 5단계
if new_id == "":
    new_id = "a"

# 6단계
if len(new_id) >= 16:
    new_id = new_id[:15]
new_id = new_id.strip(".")

# 7단계
while len(new_id) <= 2:
    new_id += new_id[-1]

print(new_id)

새로운 아이디를 입력하세요.: aklsdfhqo2@@@...aw;120249u#@^209wtueae-809yae8fho....s;aofjpp!@#!@$#@5
aklsdfhqo2.aw12